@import 'imports/global';

/**
 * TYPOGRAPHY - 14px base font size, agnostic font stack
 */
body {
    color: @aui-text-color;
    font-family: @aui-font-family;
    font-size: @aui-font-size-medium;
    line-height: 1.42857142857143;
}

/* International Font Stacks*/
[lang|=en] {
    font-family: @aui-font-family;
}

[lang|=ja] {
    font-family: @aui-font-family-ja;
}

/* Default margins */
p,
ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
form.aui,
table.aui,
.aui-tabs,
.aui-panel,
.aui-group {
    margin: @aui-grid 0 0 0;
}

/* No top margin to interfere with box padding */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
blockquote:first-child,
pre:first-child,
form.aui:first-child,
table.aui:first-child,
.aui-tabs:first-child,
.aui-panel:first-child,
.aui-group:first-child {
    margin-top: 0;
}

/* Headings: desired line height in px / font size = unitless line height */
h1 {
    color: @aui-heading-xxlarge-text-color;
    font-size: @aui-heading-xxlarge-font-size;
    font-weight: @aui-heading-xxlarge-font-weight;
    line-height: @aui-heading-xxlarge-line-height;
    text-transform: @aui-heading-xxlarge-text-transform;
    margin: (@aui-grid * 3) 0 0 0;
}
h2 {
    color: @aui-heading-xlarge-text-color;
    font-size: @aui-heading-xlarge-font-size;
    font-weight: @aui-heading-xlarge-font-weight;
    line-height: @aui-heading-xlarge-line-height;
    text-transform: @aui-heading-xlarge-text-transform;
    margin: (@aui-grid * 3) 0 0 0;
}
h3 {
    color: @aui-heading-large-text-color;
    font-size: @aui-heading-large-font-size;
    font-weight: @aui-heading-large-font-weight;
    line-height: @aui-heading-large-line-height;
    text-transform: @aui-heading-large-text-transform;
    margin: (@aui-grid * 3) 0 0 0;
}
h4 {
    color: @aui-heading-medium-text-color;
    font-size: @aui-heading-medium-font-size;
    font-weight: @aui-heading-medium-font-weight;
    line-height: @aui-heading-medium-line-height;
    text-transform: @aui-heading-medium-text-transform;
    margin: (@aui-grid * 2) 0 0 0;
}
h5 {
    color: @aui-heading-small-text-color;
    font-size: @aui-heading-small-font-size;
    font-weight: @aui-heading-small-font-weight;
    line-height: @aui-heading-small-line-height;
    text-transform: @aui-heading-small-text-transform;
    margin: (@aui-grid * 2) 0 0 0;
}
h6 {
    color: @aui-heading-xsmall-text-color;
    font-size: @aui-heading-xsmall-font-size;
    font-weight: @aui-heading-xsmall-font-weight;
    line-height: @aui-heading-xsmall-line-height;
    text-transform: @aui-heading-xsmall-text-transform;
    margin: (@aui-grid * 2) 0 0 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}
/* Nice styles for using subheadings */
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
    margin-top: @aui-grid;
}
/* Increase the margins on all headings when used in the group/item pattern ... */
.aui-group > .aui-item > h1:first-child,
.aui-group > .aui-item > h2:first-child,
.aui-group > .aui-item > h3:first-child,
.aui-group > .aui-item > h4:first-child,
.aui-group > .aui-item > h5:first-child,
.aui-group > .aui-item > h6:first-child {
    margin-top: (@aui-grid * 2);
}
/* ... unless they're the first-child */
.aui-group:first-child > .aui-item > h1:first-child,
.aui-group:first-child > .aui-item > h2:first-child,
.aui-group:first-child > .aui-item > h3:first-child,
.aui-group:first-child > .aui-item > h4:first-child,
.aui-group:first-child > .aui-item > h5:first-child,
.aui-group:first-child > .aui-item > h6:first-child {
    margin-top: 0;
}

/* Other typographical elements */
small {
    color: @aui-small-text-color;
    font-size: @aui-font-size-small;
    line-height: 1.33333333333333;
}
code,
kbd {
    font-family: monospace;
}
var,
address,
dfn,
cite {
    font-style: italic;
}
cite:before {
    content: "\2014 \2009";
}
blockquote {
    border-left: @aui-border-width @aui-border-style @aui-border-color;
    color: @aui-blockquote-text-color;
    margin-left: (@aui-grid * 2 - 1);
    padding: @aui-grid (@aui-grid * 2);
}
blockquote > cite {
    display: block;
    margin-top: @aui-grid;
}
q {
    color: @aui-quote-text-color;
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}
abbr {
    border-bottom: 1px @aui-abbr-border-color dotted;
    cursor: help;
}
